.DS_Store
.venv/
__pycache__/
.pytest_cache/
.coverage

*.pyc
*.tmp
credentials.txt
task.txt
test.py
bambulab-spoolman.code-workspace
spoolman_filaments.txt
slicer_filaments.txt
filament_mapping.json
log_errors.txt
credentials.ini
Gui/bambulab_spoolman/.dart_tool/
Gui/bambulab_spoolman/build/
Gui/bambulab_spoolman/lib/bambulab_spoolman_flutter.code-workspace
app.log
app.log.1
/data/
*.md
tests/*